* {
  font-family: Poppins, sans-serif;
}

.text-blue {
  color: #70e3ea;
}

.bg-black2 {
  background-color: rgb(10, 10, 10) !important;
}

.bg-black3 {
  background-color: rgb(15, 15, 15);
}

.rgb {
  background: linear-gradient(120deg, black, rgb(1, 1, 61), rgb(48, 4, 48));
}

.rgb2 {
  background: linear-gradient(120deg, black, rgb(7, 7, 7), rgb(20, 20, 20));
}

.bg-black4 {
  background-color: rgb(34, 34, 34);
}

.borda-50 {
  width: auto;

  height: 300px;

  background-position: top center;

  background-size: cover;

  border: 2px solid #70e3ea;

  border-radius: 5px;
}

.fsize-1 {
  font-size: 3.5rem;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.fs-6 {
  font-size: 4rem;
}

.fs-7 {
  font-size: 0.75rem !important;
}

.py-45 {
  padding-top: 45px;

  padding-bottom: 45px;
}

.py-60 {
  padding-top: 60px;

  padding-bottom: 60px;
}

.py-90 {
  padding-top: 90px;

  padding-bottom: 90px;
}

.py-135 {
  padding-top: 135px;

  padding-bottom: 135px;
}

.bg-blur {
  position: relative;

  width: 100%;

  /* height: 100vh; */

  background: rgba(0, 0, 0, 0.6); /* Fundo escuro */

  /* backdrop-filter: blur(10px); Aplica desfoque ao fundo */

  /* border-top: 2px solid #70e3ea;  Borda azul */

  /* border-bottom: 2px solid #70e3ea; Borda azul */
}

.bg-blur::before {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-image: url("../imagens/programming-wallpaper.jpg");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;

  filter: blur(2px); /* Ajuste a intensidade do desfoque */

  z-index: -1;
}

.bg-blur::after {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-color: rgba(
    0,
    0,
    0,
    0.75
  ); /* Ajuste a opacidade para escurecer mais ou menos */

  z-index: -1;
}

#resume-icons i:hover {
  color: #70e3ea !important;

  transition: ease-in-out 0.5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

#fa-mysql {
  width: 100px !important;
  height: 100px !important;
}

.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-php,
.fa-laravel,
#fa-mysql {
  font-size: 5rem; /* Tamanho dos ícones */

  padding: 15px; /* Espaçamento ao redor dos ícones */

  animation: float 3s infinite ease-in-out; /* Animação contínua */

  color: #70e3ea;
}

.icon-title {
  animation: float 3s infinite ease-in-out; /* Animação contínua */

  color: #70e3ea;
}

.border-blue {
  border-top: 1px solid #70e3ea;

  border-right: 1px solid #70e3ea;

  border-bottom: 15px solid #70e3ea;

  border-left: 15px solid #70e3ea;
}

.border-top-blue {
  border-top: 1px solid #70e3ea;
}

.radius-50 {
  border-radius: 50px;
}

.habilities {
  cursor: pointer;
}

.habilities:hover {
  transition: 0.5s ease-in-out;

  color: #70e3ea !important;
}

.nav-link {
  position: relative;

  display: inline-block;

  color: white;

  text-decoration: none;
}

.nav-link::after {
  content: "";

  position: absolute;

  bottom: 0;

  left: 0;

  width: 0;

  height: 2px;

  background-color: #70e3ea;

  transition: width 0.5s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

header {
  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  z-index: 1000;

  border-bottom: 4px solid transparent;
}

.header-progress {
  position: absolute;

  bottom: 0;

  left: 0;

  width: 0%;

  height: 4px;

  /* background-color: #00aaff; Cor da barra de progresso */

  background-color: #70e3ea;

  transition: width 0.1s linear;
}

#projetos img {
  height: 400px;
  filter: brightness(0.3);
}

.carousel-item img {
  width: 70px;
  height: 60px;
}

@media (max-width: 768px) {
  .fsize-1 {
    font-size: 2rem;
  }

  .fa-html5,
  .fa-css3-alt,
  .fa-js,
  .fa-php {
    font-size: 4rem !important;
  }

  #texto-sobre .fs-6 {
    font-size: 0.85rem !important;
  }

  #sobre-mim,
  #sobre-mim-texto {
    padding: 45px 0 45px 0 !important;
  }

  #navbar-topo {
    font-size: 1.25rem !important;
  }

  .carousel-item p {
    font-size: 0.7rem;
  }

  #projetos img {
    height: 300px;
  }

  #sobre-mim-titulo {
    padding: 45px 0 !important;
  }

  #eduardo-perfil {
    margin-bottom: 45px;
  }
}

@media (min-width: 1600px) {
  .borda-50 {
    height: 400px !important;
  }
}

#loader {
  border: 8px solid #f3f3f3;

  border-top: 8px solid #70e3ea;

  border-radius: 50%;

  width: 60px;

  height: 60px;

  animation: spin 1s linear infinite;

  position: fixed;

  top: 50%;

  left: 50%;

  margin: -30px 0 0 -30px;

  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.blur {
  filter: blur(5px);

  pointer-events: none; /* opcional: evita cliques no conteúdo */

  user-select: none;
}

.blur-none {
  filter: none;

  pointer-events: auto;

  user-select: auto;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

#redes-sociais-footer {
  margin-top: 40px !important;
}
